<table class="table table-bordered">
  <thead>
    <tr>
      <th>código</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Ação</th>
    </tr>
    </thead>
    <tbody>
        <%= render @produtos %>
    </tbody>


</table>
